
<%- include("header") -%>

<div class="centered">
  <div class="card">
    <h1> <em>OOPS! Seems like we couldn't help you with that... </em></h1>
    <p>Try a different Query.</p>
    <p>HINT: Make sure your Search Query has more than or equal to 3 characters.</p>
  </div>
</div>



<%- include("footer") -%>
