<%- include("header") -%>


<div class="centered">
  <div class="card">
    <h1 class="desc" >INSTRUCTIONS : </h1>
    <ul>
      <li class="desc">Enter your Search Query in the underlined TextBox.</li>
      <li class="desc">Click on + to Search.</li>
      <li class="desc">List of related Movie Cards will appear.</li>
      <li class="desc">To show or hide cards, click ... present at the bottom of the page</li>
      <li class="desc">Click on + at the bottom of the card to expand.</li>
      <li class="desc">The IMDB button takes you to the movie's page in IMDB</li>
      <li class="desc">To go Back to your previous Search result, click on x</li>
      <li class="desc">You can Search for movies from any part of our website</li>
    </ul>
  </div>

</div>




<%- include("footer") -%>
